
.bundle-builder{
  background: var(--section-bg);
}
.bundle-builder .section_container {
  padding: var(--section-padding-top) var(--section-padding-right) var(--section-padding-bottom) var(--section-padding-left);
  max-width: var(--section-wraper-width);
  margin: 0 auto;
}
.bundle-header {
  text-align: center;
  margin-bottom: 40px;
}

.bundle-header h2 {
  font-size: var(--desktop-header-heading-size);
  color: var(--heading-color);
  margin-bottom: 10px;
}
.header_content{
  color: var(--text-color);
  font-size: var(--desktop-header-text-size); 
}
.bundle-header .bundle_header_sub_heading {
  color: var(--sub-heading-color);
  font-size: var(--desktop-header-sub-heading-size);
}
.totle_dots_proudct .dots-tire.active
 {
    background: rgba(21, 93, 252, 1);
}
.bundle-products {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.bundle-products .bundle-card  {
  width: calc(25% - 15px);
}

.price_button_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.price_button_box p.bundle-price {
    margin: 0;
    font-weight: bold;
    color: var(--card-price-color);
}

.bundle-card {
  background: var(--card-bg);
  border-radius: var(--card-radius);
  border: var(--card-border-width) solid var(--card-border);
  padding: 0;
  transition: all 0.25s ease;
  position: relative;
  cursor: pointer;
  transform: translate3d(0,0,0);
}

.bundle-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.bundle_card_info {
    padding: 0 1rem 1rem;
}
.bundle-card.selected {
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}
.bundle-card.selected:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: var(--card-selected-boder-width) solid var(--card-selected-border);
    border-radius: var(--card-radius);
}
.bundle-card img {
  width: 100%;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  margin-bottom: 15px;
}

.bundle-card .bundleProductTitle {
  font-size: var(--card-title-desktop-font-size);
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--card-title);
}

.bundle-card p {
  font-size: var(--desktop-header-text-size);;
  color: var(--text-color);
  margin-bottom: 10px;
}

.bundle-select-btn {
  background: var(--btn-bg);
  border: none;
  padding: 8px 14px;
  border-radius: var(--btn-radius);
  color: var(--btn-text);
  font-size: var(--desktop-header-text-size);
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 2;
}
.bundle-select-btn .selected_text{
  display: none;
}
.bundle-card.selected .bundle-select-btn .selected_text{
  display: block;
}

.bundle-card.selected .bundle-select-btn .clickToAdd{
  display: none;
}
.bundle-card.selected .bundle-select-btn {
  background: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.bundle-check {
  position: absolute;
  top: 12px;
  right: 12px;
  background: var(--tier-active-bg);
  color: var(--tier-active-text);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-size: var(--desktop-header-text-size);
  display: none;
  align-items: center;
  justify-content: center;
}

.bundle-card.selected .bundle-check {
  display: flex;
}
.bundle-summary {
  background: var(--bundle-footer-bg);
  padding: 25px;
  border-radius: var(--bundle-footer-radius);
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.bundle-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: var(--desktop-header-text-size);
}

.bundle-summary strong {
  font-size: 30px;
}

.bundle-add-to-cart {
  width: 100%;
  background: var(--bundle-button-bg);
  color: var(--bundle-button-text);
  border: 1px solid var(--bundle-button-border);
  padding: 18px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.bundle-add-to-cart:hover {
  background: var(--bundle-button-hover-bg);
  color: var(--bundle-button-hover-text);
  border-color: var(--bundle-button-hover-border);
  transform: translateY(-2px);
}

.bundle-add-to-cart:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.bundleDiscount {
  color: var(--progress-bar-message-color);
  font-weight: 600;
}
.bundleTotal{
  font-weight: 600;
  font-size: 20px;
}
.bundle-benefits {
  background: var(--progress-bg);
  padding: 25px;
  border-radius: var(--progress-bar-radius);
  margin-bottom: 40px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.bundle-benefits-header {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.bundle-benefits-header .bar_title{
color: var(--progress-bar-heading-color);
font-weight: 600;
font-size:var(--progress-bar-desktop-heading-font-size);
}
.bundle-icon {
  color: var(--progress-bar-message-color);
  font-size: 16px;
}
.bundle-variants {
    display: none;
}
.bundle-tier-tabs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
  
}

.tier-pill {
  border: 1px solid var(--tier-border-color);
  background: var(--progress-fill);
  padding: 8px 16px;
  border-radius: var(--tier-radius);
  font-size: var(--progress-bar-desktop-text-font-size);
  cursor: pointer;
  transition: 0.25s ease;
}

.tier-pill.active {
  background: var(--tier-active-bg);
  color: var(--tier-active-text);
  border-color: var(--tier-active-bg);
}

.bundle-tier-message {
  font-size: var(--progress-bar-desktop-text-font-size);
  color: var(--progress-bar-message-color);
  font-weight: 500;
}
.bundle-card.is-sold-out {
  opacity: 0.5;
  pointer-events: none;
}

.bundle-card.is-sold-out .bundle-select-btn {
  background: #ccc;
  cursor: not-allowed;
}
.bundle-add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.customTagLine {
    min-height: 44px;
    font-size: 15px;
    color: var(--card-content-color);
}
.bundle-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ef4444;
  color: #fff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 20px;
}
.bundle-select-btn:before {
    position: fixed;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden_element{
  display:none !important;
}
.section_container.tier_count_1 .bundle-tier-tabs {
    display: none;
}
.section_container.tier_count_1 .bundle-tier-message {
    display: none;
}
.section_container.tier_count_1 .bundle-benefits-header {
    margin-bottom: 0;
}
.section_container.tier_count_1 .bundle_footer {
    max-width: 700px;
    margin: 0 auto;
}
.section_container.tier_count_1 span.bundle-icon {
    display: none;
}
.section_container.tier_count_1 .bundle-benefits {
    margin: 0 auto 3rem;
    max-width: 480px;
    padding: 10px 15px;
}

.section_container.tier_count_1 .bundle-tier-tabs {
    display: none;
}

.section_container.tier_count_1 .bundle-tier-message {
    display: none;
}

.section_container.tier_count_1 .bundle-benefits-header {
    margin-bottom: 0;
}

.section_container.tier_count_1 .bundle_footer {
    max-width: 700px;
    margin: 0 auto;
    background: var(--bundle-footer-bg);
    padding: 25px;
    border-radius: var(--bundle-footer-radius);
    box-shadow: 0 8px 20px #0000000d;
}
.tire_one_footer {
    padding: 25px;
    background: var(--bundle-footer-bg);
    margin-top: 3rem;
    border-radius: var(--bundle-footer-radius);
    border: 2px solid var(--card-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tire_one_footer .save_message {
  padding: 5px 10px;
  border-radius: 20px;
  background: var(--progress-bar-message-color);
  line-height: normal;
  -bottom: 10px;
  color: var(--progress-fill);
}

.title_footer {
    font-size: 25px;
    font-weight: bold;
}

.tire_right_msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.totle_dots_proudct {
    display: flex;
    gap: 5px;
}

.totle_dots_proudct .dots-tire {
    width: 10px;
    height: 10px;
    font-size: 0;
    background: #ccc;
    border-radius: 100%;
}
.section_container.tier_count_1 .bundle_footer .bundle-summary {
    border-radius: 0 !important;
    box-shadow: none;
    padding: 0;
    background: transparent;
}
.section_container.tier_count_1 .bundleDiscount {
    display: none;
}

@media (max-width: 1024px) {
  .bundle-products .bundle-card  {
    width: calc(33.333% - 14px);
  }
}
@media (max-width: 640px) {
  
.bundle-card .bundleProductTitle {
  font-size: var(--card-title-mobile-font-size);
}
  .tier-pill {
  font-size: var(--progress-bar-mobile-text-font-size);
  }
 .header_content{
  font-size: var(--mobile-header-text-size); 
} 
.bundle-header h2 {
  font-size: var(--mobile-header-heading-size);
}
  .bundle-card p {
  font-size: var(--mobile-header-text-size);
}
  .bundle-check {
  font-size: var(--mobile-header-text-size);
  }
  .bundle-summary div {
  font-size: var(--mobile-header-text-size);
}
.bundle-tier-message {
  font-size: var(--progress-bar-mobile-text-font-size);
}
  .bundle-benefits-header .bar_title{
    font-size:var(--progress-bar-mobile-heading-font-size);
  }
  .bundle-products .bundle-card   {
    width: calc(50% - 10px);
  }
  .section_container {
  padding: var(--section-mobile-padding-top) var(--section-mobile-padding-right) var(--section-mobile-padding-bottom) var(--section-mobile-padding-left);
 
}
}