.group {
	display: flex;
	flex-direction: row;
	flex-wrap: var(--wrap);
	justify-content: var(--align-x);
	align-items: var(--align-y);
	gap: var(--gap);
	background: var(--bg);
	border-radius: var(--radius-top-left) var(--radius-top-right) var(--radius-bottom-right) var(--radius-bottom-left) ;
	border: var(--border) solid var(--border-color);
	padding-top: var(--pt);
	padding-bottom: var(--pb);
	padding-left: var(--pl);
	padding-right: var(--pr);
	width: 100%;
	position: relative;
}
a.image_link.link_overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: var(--radius);
}
.group--vertical {
	flex-direction: column;
	justify-content: var(--align-y, flex-start);
	align-items: var(--align-x, stretch);
}
.group>* {
	height: auto;
}
.block-height-desktop-fill {
	height: 100%;
}
.block-height-desktop-fit {
	height: auto;
}
.group--vertical.block-height-desktop-fill>* {
	flex: 0 0 auto;
}
.group--vertical.block-custom-height-desktop>* {
	flex: 0 0 auto;
}
.block-custom-height-desktop {
	height: var(--block-custom-height-desktop);
}
.box-nowrap.block-height-desktop-fit>* {
	height: 100%;
}
.box-nowrap >*{
  width: 100%;
  flex: 0 0 auto;
}
@media (min-width: 1366px) {
	.block-width-desktop-fill {
		flex: 1;
	}
	.block-custom-width-desktop {
		width: var(--block-custom-width-desktop);
	}
	.block-width-desktop-fit-content {
		width: fit-content;
	}
  .block-custom-width-desktop .btn{
  flex: 1;
}
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
	.block-width-tablet-fill {
		flex: 1;
	}
  .block-custom-width-tablet .btn{
  flex: 1;
}
	.block-width-tablet-fit-content {
		width: fit-content;
	}
	.block-custom-width-tablet {
		width: var(--block-custom-width-tablet);
	}
	.block-custom-width-tablet {
		height: auto;
	}
}

@media (max-width: 767px) {
	.group {
		gap: var(--gap-m);
		padding-top: var(--ptm);
		padding-bottom: var(--pbm);
		padding-left: var(--plm);
		padding-right: var(--prm);
	}
  .block-custom-width-mobile .btn{
  flex: 1;
}
	.block-width-mobile-fill {
		flex: 1;
	}
	.block-width-mobile-fit-content {
		width: fit-content;
	}
	.block-custom-width-mobile {
		width: var(--block-custom-width-mobile);
		flex-shrink: 0;
	}
	.block-height-desktop-fill,
	.block-custom-height-desktop {
		height: auto;
		min-height: auto;
	}
}
.hide-desktop {
	display: none !important;
}
.is-zoom {
	transition: all .25s ease;
}
.is-zoom:hover img ,.is-zoom:hover video,.is-zoom:hover iframe {
	transform: scale(1.08);
}
.is-zoom:hover {
	transform: translateY(-4px);
}
.is-shadow {
	box-shadow: 0 10px 25px rgba(0, 0, 0, .15);
}
@media (max-width: 768px) {
	.hide-desktop {
		display: flex !important;
	}
	.hide-mobile {
		display: none !important;
	}
}